

figure {
    margin: 0
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    border-radius: 10px;
    .contImages{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .imageOrigin {
        width: 65%;
    }
    .imageResult {
        width: 32%;
    }
}

.imageCurrent {
    max-width: 300px;
    margin: 0 auto 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    img {
        cursor: pointer;
    }
}
h3 {
    margin: 0 0 20px 0;
}

.conButton{
    text-align: end;
}