<mat-card>
    <mat-card-content>
        <h2>Elemento Articulo</h2>
        <div class="m-b-20" fxLayout="row wrap" fxLayoutAlign="space-between">
            <div fxFlex.gt-md="49" fxFlex="49">
                <h4>Imagen</h4>
                <div class="containerImagenes">
                    <div class="imgDescktop">
                        <img class="" [src]="image" alt="">    
                        <div class="m-t-20">
                            <button (click)="addImage()" mat-raised-button mat-button color="primary">Agregar</button>
                        </div>                 
                    </div>
                </div>
            </div>
    
            <div fxFlex="49">
                <form [formGroup]="formy"  >
                    <div fxLayout="row wrap" fxLayoutAlign="space-between">
                        <div  fxFlex.gt-md="49" fxFlex="100">
                            <h4>Titulo</h4>
                            <div style="height: 100px; margin-bottom: 32px;">
                                <quill-editor formControlName="title" [modules]="modulesQuill" >
                                  </quill-editor>
                            </div>
    
                        </div>
        
                        <div fxFlex.gt-md="49"  fxFlex="100">
                            <h4>Subtítulo</h4>
                            <div style="height: 100px; margin-bottom: 32px;">
                                <quill-editor formControlName="subTitle" [modules]="modulesQuill" >
                                  </quill-editor>
                            </div>
                        </div>
        
        
                        <div  fxFlex.gt-md="49" fxFlex="100">
                            <h4>Descripcion</h4>
                            <div style="height: 100px; margin-bottom: 32px;">
                                <quill-editor formControlName="description" [modules]="modulesQuill" >
                                  </quill-editor>
                            </div>
                        </div>
        
                    </div>
        
                </form>   
    
            </div>
        </div>
    
        <div style="text-align: end;" class="m-t-20">
            <button [disabled]="!cambiosRealizados" (click)="onSubmited()" type="button"  mat-raised-button mat-button color="primary">Guardar cambios</button>
            <button type="button" style="margin-left: 8px;" (click)="delete()" mat-raised-button mat-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </div>   
    </mat-card-content>
</mat-card>


