<mat-card>
    <mat-card-content>
        <h2>Elemento Seccion</h2>
        <div class="m-b-20" fxLayout="row wrap" fxLayoutAlign="space-between">
            <div fxFlex="100">
                <h4>Imagenes</h4>
                <div class="containerImagenes">
                    <div class="imagenesItem" *ngFor="let item of images; let i=index">
                        <img [src]="item.imgSection" alt="">
                        <div>
                            <button (click)="deleteImage()" type="button" style="width: 100%;"  mat-raised-button mat-button color="warn">eliminar</button>
                        </div>            
                    </div>

                    <div class="imagenesItem">
                        <img src="assets/images/notImage.png" alt="">
                        <div>
                            <button (click)="addImage()" type="button" style="width: 100%;"  mat-raised-button mat-button color="primary">Agregar</button>
                        </div>            
                    </div>
                </div>

            </div>
        </div>

        <mat-divider></mat-divider>

        <form [formGroup]="formy" >
            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div fxFlex.gt-md="49" fxFlex="100">
                    <h4>Titulo</h4>
                    <div style="height: 100px; margin-bottom: 32px;">
                        <quill-editor formControlName="title" [modules]="modulesQuill" >
                          </quill-editor>
                    </div>
                </div>

                <div fxFlex.gt-md="49" fxFlex="100">
                    <h4>Sub título</h4>
                    <div style="height: 100px; margin-bottom: 32px;">
                        <quill-editor formControlName="subTitle" [modules]="modulesQuill" >
                          </quill-editor>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between">

                <div fxFlex.gt-md="49" fxFlex="100">
                    <h4>Titulo Boton Menu flotante </h4>
                    <div style="height: 100px; margin-bottom: 32px;">
                        <quill-editor formControlName="buttonTitle" [modules]="modulesQuill" >
                        </quill-editor>
                    </div>
                </div>

                <div fxFlex.gt-md="49" fxFlex="100">
                    <h4>Subtitulo Boton Menu flotante </h4>
                    <div style="height: 100px; margin-bottom: 32px;">
                        <quill-editor formControlName="buttonSubTitle" [modules]="modulesQuill" >
                        </quill-editor>
                    </div>
                </div>
            </div>


            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <div fxFlex.gt-md="49" fxFlex="100">
                    <h4>Opciones</h4>
                    <p><mat-checkbox formControlName="active">Activo</mat-checkbox></p>
                    <p><mat-checkbox formControlName="activeMenu">Mostrar en menu</mat-checkbox></p>
                    <p><mat-checkbox formControlName="activeMenuButton">Mostrar en menmu flotante</mat-checkbox></p>
                </div>
            </div>



            <div style="text-align: end;" class="m-t-20">
                <button [disabled]="!cambiosRealizados" (click)="onSubmited()" mat-raised-button mat-button color="primary">Guardar cambios</button>
                <button type="button" style="margin-left: 8px;" (click)="deleteElement()" mat-raised-button mat-button color="warn">Eliminar</button>
            </div>   

        </form>   
    </mat-card-content>
</mat-card>
