<mat-card>
    <mat-card-header class="course-header">
        <mat-card-title>Generador de imagen</mat-card-title>
    </mat-card-header>
    
    <div class="imageCurrent" *ngIf="imageChangedEvent === ''">
        <h3>Imagen Actual</h3>

        <div class="avatar" (click)="fileInput.click()">
            <img [src]="imagen" *ngIf="imagen !== null" >
        </div>
    </div>
    <div class="images" *ngIf="imageChangedEvent !== ''">
        <div class="image imageOrigin">
            <h3>Imagen Subida</h3>
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1"
                [resizeToWidth]="700"
                format="jpg"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
        <div class="image imageResult">
            <h3>Imagen Final</h3>
            <img [src]="croppedImage" />
        </div>
    </div>
    <input hidden type="file" #fileInput (change)="fileChangeEvent($event)" accept=".jpg , .jpeg, .png , .gif, .bmp" />

    <button type="button" mat-raised-button mat-dialog-close class="mr-2">Cancelar</button>
    <button type="button" mat-raised-button class="mr-2" (click)="fileInput.click()">Cambiar imagen</button>
    <button type="button" mat-raised-button color="primary" *ngIf="croppedImage !== ''" [disabled]="croppedImage === ''" (click)="confirmar()">Agregar</button>
</mat-card>